* {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
}

button {
    border-radius: 5px;
    background-color: rgb(105, 105, 249);
    color: #f9faf8;
    height: 20px;
    width: 70px;
}

/* HEADER */

header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-weight: bold;
}

header a {
    justify-content: flex-end;
    font-size: smaller;
}

header .links {
    gap: 8px;
}

/*Div One, This Website is awesome*/

.one {
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}

.left {
    flex-direction: column;
}

.alt {
    justify-content: center;
    align-content: center;
}

.right {
    background-color: #666666;
    justify-items: space-around;
    font-size: smaller;
}

/*Div Two, Some Random information*/

.two {
    color: #1f2937;
    justify-content: center;
    flex-direction: column;
}

.some {
    font-weight: bold;
    justify-content: center;
}

.images {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.images img {
    border: solid;
    border-color: #3882f6;
    border-radius: 25px;
    height: 100px;
    width: 100px;
}

.img {
    flex-direction: column;
    font-size: small;
    padding: 0px;
}

.img p {
    inline-size: 100px;
}

/*Div Three,*/

.three {
    background-color: #e5e7eb;
    color: #1f2937;
    flex-direction: column;
    align-items: center;
}

/*Div Four,*/

.four {
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.call {
    background-color: rgb(105, 105, 249);
    color: #f9faf8;
    height: 120px;
    width: 840px
    border-radius: 15px;
}

.signup {
    align-items: center;
}

/*Footer*/

footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}