* {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    display: flex;
}

button {
    border: none;
    border-radius: 12px;
    background-color: rgb(105, 105, 249);
    color: #f9faf8;
    height: 20px;
    width: 70px;
}

button:hover {
    background-color: #f9faf8;
    color: rgb(105, 105, 249);
}

/* HEADER */

header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

.navlist {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-end;
    font-size: smaller;
}

.navlist a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*Div One, This Website is awesome*/

.one {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}

.awesome {
    margin-top: 5%;
    margin-bottom: 5%;
}

.card {
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.website {
    font-weight: bolder;
    font-size: 48px;
    color: #f9faf8;
    margin-bottom: 0px;
    inline-size: 400px;
}

.subtext {
    font-size: 19px;
    color: #e5e7eb;
    justify-content: flex-start;
    margin-top: 0px;
    inline-size: 400px;
}

.alt {
    justify-content: center;
    align-content: center;
}

.right {
    background-color: #666666;
    justify-items: space-around;
    font-size: smaller;
    align-items: center;
    flex-wrap: wrap;
}

.right p {
    font-size: larger;
    font-weight: bold;
}

/*Div Two, Some Random information*/

.two {
    color: #1f2937;
    justify-content: center;
    flex-direction: column;
}

.some {
    font-weight: bold;
    justify-content: center;
}

.images {
    flex-direction: row;
    justify-content: center;
    gap: 8px;
}

.images img {
    border: solid;
    border-color: #3882f6;
    border-radius: 25px;
    height: 100px;
    width: 100px;
}

.img {
    flex-direction: column;
    font-size: small;
    padding: 0px;
}

.img p {
    inline-size: 100px;
}

/*Div Three,*/

.three {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-style: italic;
    flex: 1;
    inline-size: 60%;
}

.thor {
    align-self: flex-end;
    justify-content: space-around;
    font-weight: bold;
    justify-content: flex-end;
    margin-right: 30%;
}

/*Div Four,*/

.four {
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.call {
    display: flex;
    background-color: rgb(105, 105, 249);
    color: #f9faf8;
    height: 120px;
    width: 840px;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 20%;
    margin-left: 20%
}

.left {
    flex-direction: column;
    justify-content: center;
}

.left h4 {
    font-size: 24px;
    margin-bottom: 0px;
    margin-left: 8px;
}

.left p {
    font-size: smaller;
    margin-top: 0px;
    inline-size: 400px;
    margin-left: 8px;
}

.four-right {
    display: flex;
    width: 480px;
    justify-content: center;
}

#signup {
    border: 2px solid;
    border-color: #e5e7eb;
    align-self: center;
}

/*Footer*/

footer {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: center;
}